{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}VIFE{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{% endblock description%}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        {% include 'snippets/header.html' %}
        {% block content %}
        {% endblock content %}
        {% include 'snippets/footer.html' %}
        {% block javascript %}
        <script src="{% static 'js/base.js' %}"></script>
        {% endblock javascript %}
    </body>
</html>